:root {
    --bg-dark: rgb(27, 33, 44);
    --transparent-brand-color: #82c7a515;
    --semi-transparent-brand-color: #82c7a479;
    --brand-color: #82c7a5;
    --text-color: rgb(207, 207, 207);
    --dark-grey: #4e5567;
}

html {
    height: 100%;
}

html body {
    font-size: 16px;
    padding-top: 60px;
    min-height: 100%;
    background-color: var(--bg-dark);
    color: var(--text-color);
}

.navbar.navbar-fixed-top {
    border-bottom: 2px solid var(--brand-color);
    background-color: var(--bg-dark);
}

.navbar-brand:hover {
    cursor: inherit;
}

.navbar-brand span {
    font-size: 22px;
    color: var(--brand-color);
    font-style: italic;
}

body h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-bottom: 2px solid var(--semi-transparent-brand-color);
    margin-bottom: 0;
    padding: 0 0 10px 10px;
}

.column {
    float: left;
    width: 50%;
    min-height: 90vh;
    padding: 25px;
}

.info {
    padding: 20px;
    background-color: var(--transparent-brand-color);
}

.info span, .info p {
    color: var(--brand-color);
    font-weight: bold;
}

.info p {
    margin: 0 0 25px 15px;
    overflow-wrap: break-word;
}

.buttons {
    text-align: center;
}

.result {
    margin: 15px;
}

.result span {
    font-weight: normal;
    font-size: larger;
}

span.success {
    color: rgb(0, 225, 0);
}

span.error {
    color: red;
}

input.form-control {
    display: inline-block;
    width: 200px;
    margin: 0 8px 8px 8px
}

.btn.btn-primary {
    background-color: var(--brand-color);
    border-color: transparent;
    color: var(--bg-dark);
    font-style: italic;
    font-size: large;
    padding: 4px 25px;
    margin: 8px;
}

.btn.btn-primary:hover {
    background-color: var(--bg-dark);
    border-color: var(--light-grey);
    color: var(--brand-color);
}

a.btn.btn-primary {
    background-color: var(--brand-color);
    border-color: transparent;
    color: var(--bg-dark);
    font-style: italic;
    font-size: large;
    padding: 4px 25px;
    margin: 6px 10px;
    width: 300px;
}

a.btn.btn-primary:hover:not(:disabled)  {
    background-color: var(--bg-dark);
    border-color: var(--light-grey);
    color: var(--brand-color);
}

a.btn.btn-primary[disabled="disabled"],
a.btn.btn-primary:disabled  {
    background-color: var(--semi-transparent-brand-color);
}

a.btn.btn-primary:hover[disabled="disabled"],
a.btn.btn-primary:hover:disabled {
    background-color: var(--semi-transparent-brand-color);
    color: var(--bg-dark);
    border-color: transparent;
}

.console {
    font-size: 14px;
    font-family:'Courier New', Courier, monospace;
    height: 78vh;
    padding: 10px;
    overflow-y: scroll; 
    background-color: var(--transparent-brand-color);
    overflow-wrap: break-word;
}

.console-icon {
    color: yellowgreen;
}

.error {
    color: red;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--brand-color); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--semi-transparent-brand-color); 
}