doctype html  
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        title= "OAuth Authorization Server"

        link(rel="stylesheet", type="text/css", href="css/style.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    body
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    a(class="navbar-brand" href="/")
                        | OAuth in Action: 
                        span(class="label label-danger")
                            | OAuth Authorization Server
        
        div(class="container")
            div(class="jumbotron")
                h1= "Authentication"
                
                form(method='POST' action='/authentication')
                    div.form-group
                        label(for='username') Username:
                        input#name.form-control(type='text', name='username', value="JohnDoe")
                    div.form-group
                        label(for='pw') Password:
                        input#pw.form-control(type='password' name='password' value="1234")
                    p(class="error") #{status}
                    button.btn.btn-primary(type='submit') Sign In